/* STYLES START HERE ... */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lobster&display=swap");
/* SUPPORTIVE STYLES */
:root {
  --mainColor: rgba(152, 255, 111, 0.87);
  --footColor: rgb(13, 80, 0);
  --hoverColor: rgb(196, 250, 145);
  --textColor: rgb(6, 10, 63);
  --family: "Lobster", cursive;
  --mainFamily: "Baloo Bhaijaan 2", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  font-family: var(--mainFamily);
  background-color: var(--mainColor);
  color: var(--textColor);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* HEADER STYLES */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100%;
  display: flex;
  margin: 1em;
  justify-content: space-between;
  overflow:auto;
  position:fixed;
  top: 0;
  padding: 1rem;
}
.brandname {
  font-size: 1.5rem;
  padding: 0 2rem;
  border-bottom: .3rem solid rgb(100, 165, 15);
}
.brandname a{
  text-decoration: none;
  color: var(--textColor);
}
.navbar {
  display: flex;
  justify-content:center;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
}
.navbar li {
  margin:0 1rem;
  padding: .5rem;
  border-radius: .4rem;
  border:.1rem solid rgb(16,88,20);
}
.navbar a{
  color: rgb(80, 146, 5);
  text-decoration: none;
  margin: 0 2rem;
  cursor: pointer;
}
li:hover{
  background-color:rgb(27, 117, 32);
}
li:hover a{
  color: rgb(131, 252, 100);
}
/* --------------Header styles end here--------------*/
/* MAIN STYLES */
main {
  width: 100vw;
  height: 100%;
}
/* home styles */
#home,.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  width: 100vw;
  height: 100vh;
}
.banner{
  width: 80%; 
  height: 80%;
}
.banner_head{
  padding: 7rem;
  border-right: 2rem solid #000;
  border-radius:50%;
  animation: hitshot 2s forwards .5s;
}
@keyframes hitshot {
  0%{border-color: transparent;}
  50%{border-color: rgb(202, 172, 3);}
  100%{border-color:initial;}
}
.title{
  padding: 1.4rem;
  margin: 1rem;
  background-color: rgb(10, 31, 3);
  font-size: 2rem;
  color: rgb(24, 214, 6);
  border-radius: 1rem 50% 50% 1rem;
  box-shadow: -.5rem 0 .5rem 0 rgb(189, 161, 3);
  animation: bulletFire 1s forwards;
}
@keyframes bulletFire {
  0%{transform:translateX(-100%);}
  75%{transform: translateY(0);}
}
.title span{
  color:rgb(8, 248, 80);
  background-color: rgb(1, 24, 4);
  padding:0 1rem;
  border-radius: 2rem;
  letter-spacing: 1.5rem;
  border: .2rem solid rgb(24, 214, 6);
  animation: blinking 2s forwards;
}
@keyframes blinking {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}
.subline{
  width: 90%;
  padding: 1rem;
  margin: .5rem;
  border:.3rem solid #fff;
  border-radius: 1rem;
  border-bottom: 1rem solid rgb(206, 186, 7);
} 
.subline h3{
  width: fit-content;
  padding:0 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: rgb(2, 1, 22);
  letter-spacing: 1rem;
  color:var(--hoverColor);
}
.subline p{
  font-size: 1.3rem;
  margin: .5rem;
  color:var(--footColor);
  font-weight: 800;
}
/* products styles */
#products,.prod_container,.prod_card{
  display: flex;
  justify-content: center;
  align-items: center;
}
#products {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}
.prod_heading{
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 2rem;
  padding: .5rem 0;
  color: aliceblue;
  background-color: var(--textColor);
}
.prod_heading h2{
  margin: 1rem 0;
  font-size: 1.5rem;
  letter-spacing: .5rem;
}
.prod_heading span{
  font-size: 3rem;
  font-style: oblique;
}
.prod_container {
  width: 90%;
  height: 60%;
  justify-content: space-around;
}
.prod_card {
  width: 30%;
  height: 100%;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  margin: 0 1rem;
  border-radius: 1.5rem 3rem 1rem 5rem;
  background-color: var(--footColor);
}
.prod_head {
  width: 60%;
  text-align: center;
  margin-top: .5rem;
  border-radius: 1.5rem;
  background-color: var(--footColor);
  margin: .2rem 0;
  padding: .5rem;
}
.prod_head h3 {
  color: var(--hoverColor);
}
.prod_img {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: var(--hoverColor);
  border-radius: .5rem;
  box-shadow: .2rem .3rem 0.2rem 0 var(--footColor);
}
.prod_img img {
  width: 90%;  
  height: 80%;
  border-radius: 2rem;
}
.prod_detail {
  width: 70%;
  height: 25%;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: .5rem;
}
.prod_detail p{
  color: var(--hoverColor);
  word-wrap: break-word;
  font-size: 1.3rem;
}
.prod_card:nth-child(1){
  animation: fromleft 2s linear;
}
.prod_card:nth-child(2){
  animation: fromright 2s linear;
}
@keyframes fromleft {
  0%{
    transform: translateX(-100%);
  }
  50%{
    
    transform: translateX(30%);
    transform: scale(1.1,1.1);
  }
  100%{
    transform: translateX(0);
    transform: scale(1,1);
    
  }
}
@keyframes fromright {
  0%{
    transform: translateX(100%);
  }
  50%{
    transform: translateX(-30%);
    transform: scale(1.1,1.1);
  }
  100%{
    transform: translateX(0);
    transform: scale(1,1);
  }
}
/* services styles */
#services,
.service_body,
.servCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services_head{
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 2rem;
  padding: .5rem 0;
  color: aliceblue;
  background-color: var(--textColor);
}
.services_head h2{
  margin: 1rem 0;
  font-size: 1.5rem;
  letter-spacing: .5rem;
}
.services_head span{
  font-size: 3rem;
  font-style: oblique;
}
.service_body {
  width: 90%;
  height: 50%;
  flex-direction: row;
}
.servCard {
  height: 80%;
  flex-direction: column;
  background-color: var(--textColor);
  padding: 0 2rem;
  margin: 0 1rem;
  border-radius: 2.5rem;
  box-shadow: .3rem .2rem 1rem 0 var(--textColor);
  animation: effect 1s backwards;
}
@keyframes effect {
    0%{
      transform:scale(0.5,0.5);
    }
    100%{transform:scale(1,1);
  }
  }
.servCard h1 {
  background-color: var(--footColor);
  color:var(--hoverColor);
  padding: .5rem 2rem;
  margin-bottom: 1rem;
  border-radius: .4rem;
}
.servCard p {
  background-color: var(--hoverColor);
  color: var(--footColor);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
  height: 50%;
  text-align: center;
}
/* about styles */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.about_head {
  width: 50%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #030625;
  border-radius: 1.5rem;
  margin: 7% 0;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 var(--footColor);
}
h3 {
  font-style: italic;
  font-size: 2rem;
}
h4 {
  font-style: oblique;
  font-size: 1.2rem;
  color: var(--hoverColor);
}
.about_body {
  width: 25%;
  height: fit-content;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 1.5rem;
  border: 0.1rem solid #030625;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 var(--footColor);
  background-color: var(--hoverColor);
  animation: zoom 1s linear;
}
@keyframes zoom {
  0%{transform: scale(0.4,0.4);}
  50%{transform: scale(1.1,1.1);}
  100%{transform: scale(1,1);}
  
}
p {
  font-size: 2rem;
  color: var(--textColor);
}
.about_body p::first-letter {
  font-size: 5rem;
}
p strong {
  color: var(--footColor);
}
/* contact styles */
#contact {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  color: var(--textColor);
}
.contact_form h2 {
  width: 40%;
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0 0 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem 0.1rem var(--textColor);
  background-color: #111542;
  color: var(--hoverColor);
  border: 2px solid rgb(34, 13, 13);
}
fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: 2rem 0;
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(149, 238, 121);
  box-shadow: 0.2rem 0.3rem 0.5rem 0 var(--footColor);
  transition: all .3s;
}
fieldset:hover{
  transform: scale(1.05,1.05);
}
legend {
  background-color: var(--hoverColor);
  color: var(--textColor);
  border: 2px solid #030625;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}
label,
input {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  width: 80%;
  color: var(--hoverColor);
  color: #030625;
  background-color: var(--hoverColor);
  border-left: 1rem solid #030625;
}
input {
  border: none;
  outline: none;
  height: 3rem;
  color: #030625;
  border: 0.2rem solid #030625;
}
input,
textarea {
  background-color: transparent;
  text-align: center;
  color: #030625;
}
textarea {
  resize: none;
  width: 80%;
  height: 10rem;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 2px solid #030625;
  border-radius: 1.5rem;
}
input:focus {
  border: none;
  border-bottom: 2px solid #030625;
}
textarea:focus {
  border: none;
  outline: none;
  border-radius: 0 0 1rem 1rem;
  border-right: 2px solid #030625;
  border-left: 2px solid #030625;
  border-bottom: 2px solid #030625;
}
.btn {
  font-size: 1.2rem;
  width: 10rem;
  padding: 0.5rem;
  font-weight: 300;
  background-color: #030625;
  color: var(--hoverColor);
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--hoverColor);
  color: var(--textColor);
  transform: scale(1.05, 1);
  font-weight: 800;
}
/* second footer styles */
.second_footer {
  background-color: rgb(57, 138, 39);
  color: rgba(255, 255, 255, 0.918);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  height: 20vh;
  border-radius: 50% 50% 0 0;
  animation-delay: 2s;
}
.second_footer:hover {
  animation: focus 2s linear;
}
@keyframes focus {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-5%);
  }
}

.address {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0 0 10rem;
  letter-spacing: 0.2rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.address h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.address h4 {
  text-decoration: overline;
  padding: 0.6rem;
  text-transform: capitalize;
  font-size: 1rem;
}
.links {
  padding: 1rem;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.links li {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.links a {
  text-decoration: none;
  color: beige;
  padding: 0.5rem 1rem;
}
::selection,
.links li:hover {
  color: rgb(20, 214, 30);
  background-color: #000;
}
/* --------------main styles end here--------------*/
/* FOOTER STYLES  */
footer {
  background-color: rgb(13, 80, 0);
  color: rgba(255, 255, 255, 0.918);
  text-align: center;
  padding: 1rem;
  width: 100vw;
  
}
footer h3 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
/* --------------footer styles end here--------------*/
/*  MEDIA QUERIES */
@media screen and (max-width: 500) {  
}
@media (max-width: 900) and (min-width: 500) {
}
@media (max-width: 1400) and (min-width: 900) {
}
